<div id="header">
  <div id="logo">
    <%= link_to image_tag("jshub/logo_jshub_with_mark.png"), root_url %>
  </div>
  <div id="sitenav" class="nav">
    <ul>
      <li class="first">
        <%= link_to 'Home', 'http://jshub.org/', :title => 'Home' %>
      </li>
      <li>
        <%= link_to 'About', 'http://jshub.org/about/', :title => 'About' %>
      </li>
      <li>
        <%= link_to 'Project', 'http://jshub.org/trac/wiki', :title => 'Wiki start page' %>
      </li>
      <li class="active">
        <%= link_to 'Configurator', root_url, :title => 'Tag configurator' %>
      </li>
      <li class="last disabled">
        Blog
      </li>
    </ul>
  </div>
  <div id="banner">
    <%= render :partial => 'user_sessions/login_status' %>
  </div>
</div>
