<h1>Inspector</h1>
<p>Development of the Inspector for jsHub based on YUI 2 Library (<%= link_to 'docs', 'http://developer.yahoo.com/yui/' %>) and accordion widget (<%= link_to 'docs', 'http://www.i-marco.nl/weblog/yui-accordion/docs/YAHOO.widget.AccordionView.html' %>).</p>

<ol>
  <li><%= link_to 'Home', :action => 'index' %></li>
  <li><%= link_to 'UI and CSS states', :action => 'css' %></li>
  <li><%= link_to 'Javascript API', :action => 'api' %></li>
  <li><%= link_to 'YUI Widget', :action => 'widget' %></li>
  <li><%= link_to 'Download', :action => 'zip' %></li>
  <li><%= link_to 'Installation', :action => 'install' %></li>
</ol>

