<% set_title 'jsHub Inspector < CSS' %>

<% content_for :javascripts do %>  
  <!-- YUI -->
  <%= stylesheet_link_tag :inspector_yui, :cache => 'cached/yui' %>
    <!-- The jsHub Tag Inspector -->
    <%= stylesheet_link_tag :inspector, :cache => 'cached/inspector' %>
    <%# javascript_include_tag :inspector, :cache => 'cached/inspector' %>
<% end %>

<% content_for :intro do %>  

  <p>This page contains the original Demo Inspector</p>

  <p>This page shows all the visible states of the inspector for CSS development</p>
  
  <ol>
    <li><a href="#section1">State 1 - Floating</a></li>
    <li><a href="#section2">State 2 - Minimised</a></li>
    <li><a href="#section3">State 3 - Maximised with Events</a></li>
  </ol>
  
<% end %>


<h2 id="section1">State 1 - Floating</h2>

<div id="example1a" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">

  <div class="yui-panel state1" style="width: 95px;">
    <div class="bd success">
<%= render 'launcher' %>   
    </div>
  </div>

</div>

<div id="example1b" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">

  <div class="yui-panel state1" style="width: 95px;">
    <div class="bd warning">
<%= render 'launcher' %>   
    </div>
  </div>

</div>

<div id="example1c" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">

  <div class="yui-panel state1" style="width: 95px;">
    <div class="bd error">
<%= render 'launcher' %>   
    </div>
  </div>

</div>

<div id="example1d" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">

  <div class="yui-panel state1" style="width: 95px;">
    <div class="bd info">
<%= render 'launcher' %>   
    </div>
  </div>

</div>

<h2 id="section2">State 2 - Minimised</h2>

<div id="example2a" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">
  <div class="yui-panel state2" style="position: relative; width: 265px;">
    <div class="hd header">
<%= render 'container_header' %>   
    </div>
    <div class="bd body success">
<%= render :partial => 'status_large', :locals => { :text => 'Installed &amp; active' } %>
<%= render :partial => 'buttons', :locals => { :text => 'View Events', :size => 'large', :cssClass => 'events' } %>
    </div>
    <div class="ft footer">
<%= render 'container_footer' %>   
    </div>
<%= render 'container_icons' %>   
  </div>
</div>

<div id="example2b" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">
  <div class="yui-panel state2" style="position: relative; width: 265px;">
    <div class="hd header">
<%= render 'container_header' %>   
    </div>
    <div class="bd body warning">
<%= render :partial => 'status_large', :locals => { :text => 'Active with warnings' } %>
<%= render :partial => 'buttons', :locals => { :text => 'View Events', :size => 'large', :cssClass => 'events' } %>
    </div>
    <div class="ft footer">
<%= render 'container_footer' %>   
    </div>
<%= render 'container_icons' %>   
  </div>
</div>

<div id="example2c" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">
  <div class="yui-panel state2" style="position: relative; width: 265px;">
    <div class="hd header">
<%= render 'container_header' %>   
    </div>
    <div class="bd body error">
<%= render :partial => 'status_large', :locals => { :text => 'Having problems' } %>
<%= render :partial => 'buttons', :locals => { :text => 'View Events', :size => 'large', :cssClass => 'events' } %>
    </div>
    <div class="ft footer">
<%= render 'container_footer' %>   
    </div>
<%= render 'container_icons' %>   
  </div>
</div>

<div id="example2c" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">
  <div class="yui-panel state2" style="position: relative; width: 265px;">
    <div class="hd header">
<%= render 'container_header' %>   
    </div>
    <div class="bd body info">
<%= render :partial => 'status_large', :locals => { :text => 'Not installed' } %>
<%= render :partial => 'buttons', :locals => { :text => 'Get jsHub', :size => 'large', :cssClass => 'get' } %>
    </div>
    <div class="ft footer">
<%= render 'container_footer' %>   
    </div>
<%= render 'container_icons' %>   
  </div>
</div>

<h2 id="section3">State 3 - Maximised with Events</h2>

<div id="example3" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">

  <div class="yui-panel yui-resize state3" style="position: relative; width: 265px;">
    <div class="hd header">
<%= render 'container_header' %>   
    </div>
    <div class="bd body success">
<%= render :partial => 'status_small', :locals => { :text => 'Installed &amp; active' } %>
<%= render :partial => 'search' %>
      <ul id="event-list" class="yui-accordionview">

        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle">Inactive empty panel <span class="count">0</span></a>
        </li>

        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle active">Active empty panel <span class="count">0</span></a>
        </li>

        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle active">Tagging issues <span class="count">1</span></a>
          <div class="yui-accordion-content">
            <div class="event-section">
              <div class="bd">          
                <%= render :partial => 'event_tagstatus_item' %>
              </div><!-- close module bd -->
            </div><!-- close module -->
          </div>
        </li>

        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle active">Page events<span class="count">4</span></a>
          <div class="yui-accordion-content">
            <div class="event-section">
              <div class="bd">
                            
<%# Different type of event list items %>
<%= render :partial => 'event_item', :locals => { 
      :id => 'event-1',
      :variable => 'Page-view-complete',
      :vendor => 'Google Analytics',
      :value => 'True'
    } %>
<%= render :partial => 'event_item', :locals => { 
      :id => 'event-2',
      :variable => 'Page-name',
      :value => 'Homepage',
      :warning => true,
      :warnings => {
          'Google Analytics' => 'Homepage',
          'Coremetrics' => 'Home1',
          'MF - hPage' => 'Homepage1'
        }
    } %>

              <%# as implemented in Inspector %>
              <div class="event-item">
                <div class="bd">
                  <div title="No help text available" class="yui-g help-text">
                    <p class="variable">
                      Page view
                    </p>
                  </div>
                  <div class="yui-gd duplicate">
                    <div class="yui-u first">
                      <p class="vendor">
                        Page name:
                      </p>
                    </div>
                    <div class="yui-u">
                      <p class="value">
                        store/catalog
                      </p>
                    </div>
                  </div>
                  <div class="yui-gd">
                    <p class="vendor source">
                      (from google-analytics-markup)
                    </p>
                  </div>
                  <div class="yui-gd duplicate">
                    <div class="yui-u first">
                      <p class="vendor">
                        Category:
                      </p>
                    </div>
                    <div class="yui-u">
                      <p class="value">
                        TV
                      </p>
                    </div>
                  </div>
                  <div class="yui-gd">
                    <p class="vendor source">
                      (from hPage-plugin)
                    </p>
                  </div>
                  <div class="yui-gd duplicate">
                    <div class="yui-u first">
                      <p class="vendor">
                        Title:
                      </p>
                    </div>
                    <div class="yui-u">
                      <p class="value">
                        Example retail store
                      </p>
                    </div>
                  </div>
                  <div class="yui-gd">
                    <p class="vendor source">
                      (from document.title)
                    </p>
                  </div>
                  <div class="yui-gd duplicate">
                    <div class="yui-u first">
                      <p class="vendor">
                        Referrer:
                      </p>
                    </div>
                    <div class="yui-u">
                      <p class="value">
                        http://liamc.local/retail/store/login
                      </p>
                    </div>
                  </div>
                  <div class="yui-gd">
                    <p class="vendor source">
                      (from document.referrer)
                    </p>
                  </div>
                </div>
                <div class="yui-g">
                  <hr class="event-separator" />
                </div>
              </div>
              
              </div><!-- close module bd -->
            </div><!-- close module -->
          </div>
        </li>
        <li>
        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle active">Ecommerce events <span class="count">3</span></a>
          <div class="yui-accordion-content">
            <div class="event-section">
              <div class="bd">

<%= render :partial => 'event_item', :locals => { 
      :id => 'event-5',
      :variable => 'Rollover reveal',
      :vendor => 'Coremetrics',
      :value => 'Prod123',
      :help_text => "<p>Coremetrics event.</p><p>Rollover reveal <br /> This refers to ... Aenean quis enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at justo.</p><p><a href='../docs/'>View documentation</a></p>"
    } %>
<%= render :partial => 'event_item', :locals => { 
      :id => 'event-6',
      :variable => 'DetailsClick',
      :vendor => 'Google Analytics',
      :value => '123',
      :help_text => "<p>Google Analytics event.</p><p>DetailsClick <br /> This refers to ... Aenean quis enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at justo.</p><p><a href='../docs/'>View documentation</a></p>"
    } %>
<%= render :partial => 'event_item', :locals => { 
      :id => 'event-7',
      :variable => 'DetailsClicked',
      :vendor => 'Coremetrics',
      :value => 'Prod123',
      :help_text => "<p>Coremetrics event.</p><p>DetailsClicked <br /> This refers to ... Aenean quis enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at justo.</p><p><a href='../docs/'>View documentation</a></p>"
    } %>

              </div><!-- close module bd -->
            </div><!-- close module -->
          </div>
        </li>

        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle active">Data sources<span class="count">1</span></a>
          <div class="yui-accordion-content">
            <div class="event-section">
              <div class="bd">
                <%= render :partial => 'event_datasource_item' %>
              </div><!-- close module bd -->
            </div><!-- close module -->
          </div>
        </li>

        <li class="yui-accordion-panel">
          <a class="yui-accordion-toggle active">Inline content updates<span class="count">0</span></a>
        </li>
      </ul>
<%= render :partial => 'buttons', :locals => { :text => 'Hide Events', :size => 'small'} %>
    </div>
    <div class="ft">
<%= render 'container_footer' %>   
    </div>
<%= render 'container_icons' %>       
  </div>
</div>

