<% set_title 'jsHub Inspector < YUI Widget' %>

<% content_for :javascripts do %>  
  <%- javascript_include_tag "firebug-lite" %>


  <!-- jsHub tag files -->
  <%= javascript_include_tag "jquery/jquery-1.3.2.min" %>
  <%= javascript_include_tag "jshub/jshub-gromit-r13-debug" %>

  <!-- Merged files -->
  <%= stylesheet_link_tag :inspector_widget %>  
  <%= javascript_include_tag :inspector_widget %>  
<% end %>

<% content_for :intro do %>  
  <p>This page has the Inspector as a YUI Widget on it with all dependent files.</p>
  
  <h2>Inspector YUI Widget</h2>
  
  <p>The Inspector can be loaded as a YUI Widget (<%= link_to 'docs', '../javascripts/inspector/widget/docs/yuidoc/generator/YAHOO.JSHUB_ORG.Inspector.html' %>).</p>
<% end %>

<h2>Microformat markup</h2>
<div id="example2a" class="yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase jshub inspector yui-skin-sam example-ui">
  
  <p>hPage microformat data:</p>
  <div class="hpage">
    <ul>
      <li>
        Page name: <span class="name">Browse products</span>
      </li>
    </ul>
  </div>
  
  <p>Duplicate hPage microformat data:</p>
  <div class="hpage">
    <ul>
      <li>
        Page name: <span class="name">Browse product category</span>
      </li>
      <li>
        Category: <a class="category" href="/retail2/t/category/laptops/" rel="tag">Laptop Computers</a>
      </li>
      <li>
        Category: <a class="category" href="/retail2/t/category/laptops/fifteen-inch/" rel="tag">15-inch</a>
      </li>
    </ul>
  </div>
</div>
  
<h2>Setup Inspector</h2>
<p>
<button id="showInspector">Show Inspector</button>
<button id="hideInspector">Hide Inspector</button>
</p>
<script type="text/javascript">
YAHOO.util.Event.addListener("showInspector", "click", function(){
  jsHub.Inspector.render(); jsHub.Inspector.show();
});
YAHOO.util.Event.addListener("hideInspector", "click", function(){
  jsHub.Inspector.hide();
});
</script>

<h2>Set display states</h2>
<p>
<button id="setDisplayState1">Set State 1</button>
<button id="setDisplayState2">Set State 2</button>
<button id="setDisplayState3">Set State 3</button>
</p>
<script type="text/javascript">
YAHOO.util.Event.addListener("setDisplayState1", "click", function(){jsHub.Inspector._setCurrentState(1)} );
YAHOO.util.Event.addListener("setDisplayState2", "click", function(){jsHub.Inspector._setCurrentState(2)} );
YAHOO.util.Event.addListener("setDisplayState3", "click", function(){jsHub.Inspector._setCurrentState(3)} );
</script>

<h2>Set icon states</h2>
<p>
<button id="setStatusSucess">Set Status Success</button>
<button id="setStatusError">Set Status Error</button>
<button id="setStatusWarning">Set Status Warning</button>
<button id="setStatusInfo">Set Status Info</button>
</p>
<script type="text/javascript">
YAHOO.util.Event.addListener("setStatusSucess", "click", function(){jsHub.Inspector._setCurrentStatus("success")} );
YAHOO.util.Event.addListener("setStatusError", "click", function(){jsHub.Inspector._setCurrentStatus("error")} );
YAHOO.util.Event.addListener("setStatusWarning", "click", function(){jsHub.Inspector._setCurrentStatus("warning")} );
YAHOO.util.Event.addListener("setStatusInfo", "click", function(){jsHub.Inspector._setCurrentStatus("info")} );
</script>

<h2>Simulate event types</h2>
<p>
<button id="addPageEvent">Add a Page Event</button>
<button id="addUserInteractionsEvent">Add a User Interactions Event</button>
</p>
<script type="text/javascript">
YAHOO.util.Event.addListener("addPageEvent", "click", function(){jsHub.trigger("page-view", {pageName:"test page",referrer:"previous page"})} );
YAHOO.util.Event.addListener("addUserInteractionsEvent", "click", function(){jsHub.trigger("cart-add", {product:123,quantity:2})} );
</script>


<script language="javascript" type="text/javascript">

  // TODO: MockObject for Configurator SHA checking

  /* 
   * Check the browser environment for required JS libraries and other
   * supporting functionality to avoid false test failure results due to
   * mis-configuration, etc
   */
  suite.add(new Y.Test.Case({
    name: "Environment check",
    
    "test required test dependencies": function() {
      Y.Assert.isNotUndefined(window.YAHOO, "The YUI2 library is required");
      Y.Assert.isNotUndefined(window.YUI, "The YUI3 library is required");
      Y.Assert.isNotUndefined(window.Y, "The YUI3 library is required");
      Y.Assert.isNotUndefined(window.Y.Test, "The YUI3 Test library is required");
      Y.Assert.isNotUndefined(window.Y.Test, "The jsHub library is required");
    },
    
    "test jsHub API dependencies": function() {
      Y.Assert.isFunction(jsHub.bind, "jsHub.bind() is not a Function");
      Y.Assert.isFunction(jsHub.trigger, "jsHub.trigger() is not a Function");
      Y.Assert.isFunction(jsHub.safe, "jsHub.safe() is not a Function");
    } 
  }));

  /* 
   * Check the Widget Class is present and can be instantiated with various configurations
   */
  suite.add(new Y.Test.Case({
    name: "Widget class",

    "test Widget instance has been created from Class": function() {    

      /*
       * As the Widget is created in a sanbbox by the YUI Loader we can only observe 
       * its effect once exposed
       */

      //Wait until pageload event fires
      //var test = this;
      //Y.on("window.onload", function(){
        //tell the TestRunner to resume
      //  test.resume(function(){
      //    Y.Assert.isNotUndefined(window.jsHub, "The jsHub instance is required");
      //    Y.Assert.isNotUndefined(window.jsHub.Inspector, "The jsHub Inspector instance is required");
      //  });
      //});
      
      // wait until test timeout
      this.wait(function(){
          Y.Assert.isNotUndefined(window.jsHub, "The jsHub instance is required");
          Y.Assert.isNotUndefined(window.jsHub.Inspector, "The jsHub Inspector instance is required");
        }, 3000);   
    }
 
  }));
  
  /* 
   * Check the Widget has the expected API
   */
  suite.add(new Y.Test.Case({
    name: "Widget public API",

    "test API methods are present": function() {
      // wait until test timeout
      this.wait(function(){
          Y.Assert.isFunction(jsHub.Inspector.render, "The Widget is missing an API Method");
          Y.Assert.isFunction(jsHub.Inspector.show, "The Widget is missing an API Method");
          Y.Assert.isFunction(jsHub.Inspector.hide, "The Widget is missing an API Method");
          Y.Assert.isFunction(jsHub.Inspector.destroy, "The Widget is missing an API Method");
        }, 10);     
      },
 
     "test API method - getCurrentState": function() {
      // wait until test timeout
      this.wait(function(){
          Y.Assert.isFunction(jsHub.Inspector.getCurrentState, "The Widget is missing an API method");
          Y.Assert.isNumber(jsHub.Inspector.getCurrentState(), "Expected API method to return a Number");
          Y.Assert.areEqual(1, jsHub.Inspector.getCurrentState(), "Expected result to be '1'");
        }, 10);     
      },

     "test API method - getCurrentStatus": function() {
      // wait until test timeout
      this.wait(function(){
          Y.Assert.isFunction(jsHub.Inspector.getCurrentStatus, "The Widget is missing an API method");
          Y.Assert.isString(jsHub.Inspector.getCurrentStatus(), "Expected API method to return a String");
          Y.Assert.areEqual("success", jsHub.Inspector.getCurrentStatus(), "Expected result to be 'success'");
        }, 10);     
      }
      
  }));

  /* 
   * Check the Widget has the expected API
   */
  suite.add(new Y.Test.Case({
    name: "Widget private API",
    
     "test private method - _setCurrentState validates parameters": function() {
      // wait until test timeout
      this.wait(function(){
          // get original value to restore
          var original = jsHub.Inspector.getCurrentState();
          Y.Assert.isTrue(jsHub.Inspector._setCurrentState(1), "The private method only accepts a number parameter");
          Y.Assert.isTrue(jsHub.Inspector._setCurrentState(2), "The private method only accepts a number parameter");
          Y.Assert.isTrue(jsHub.Inspector._setCurrentState(3), "The private method only accepts a number parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentState('string'), "The private method only accepts a number parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentState('3'), "The private method only accepts a number parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentState({}), "The private method only accepts a number parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentState([]), "The private method only accepts a number parameter");
          // restore value
          jsHub.Inspector._setCurrentState(original);
        }, 10);     
      },

     "test private method - _setCurrentStatus validates parameters": function() {
      // wait until test timeout
      this.wait(function(){
          // get original value to restore
          var original = jsHub.Inspector.getCurrentStatus();
          console.log("Test: Original status: %o", original);
          Y.Assert.isTrue(jsHub.Inspector._setCurrentStatus('info'), "The private method only accepts a string parameter");
          Y.Assert.isTrue(jsHub.Inspector._setCurrentStatus('error'), "The private method only accepts a string parameter");
          Y.Assert.isTrue(jsHub.Inspector._setCurrentStatus('warning'), "The private method only accepts a string parameter");
          Y.Assert.isTrue(jsHub.Inspector._setCurrentStatus('success'), "The private method only accepts a string parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentStatus(1), "The private method only accepts a string parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentStatus({}), "The private method only accepts a string parameter");
          Y.Assert.isFalse(jsHub.Inspector._setCurrentStatus([]), "The private method only accepts a string parameter");
          // restore value
          jsHub.Inspector._setCurrentStatus(original);          
        }, 10);     
      }

  }));
  
</script>
  