<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Example retail store</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- base -->
    <%= stylesheet_link_tag :store_yui %>

    <!-- store -->
    <%= stylesheet_link_tag :store %>
   <script type="text/javascript">
      /* Pass variable data from Ruby to JS */
      var ENV = {};
          ENV.APP_ROOT = "<%= store_index_path %>";
    </script>
    <%= javascript_include_tag :store %>

    <!-- Data capture tags -->
    <%= javascript_include_tag :jshub %>
    <%= render :partial => "shared/analytics_tags" %>    

    <!-- this page -->
    <%= stylesheet_link_tag "homepage.css" %>
    
  </head>
  <body class="jshub store yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase">
  
  <div class="yui-d1f page">

    <%= render :partial => "skin/header" %>
    <%= render :partial => "skin/nav1" %>
    
    <div class="yui-g tools">
      <div class="yui-u first">
        <%= render :partial => "search_form" %>
      </div>
      <div class="yui-u">
        <%= render :partial => "login_status" %>
      </div> 
    </div> 

    <div class="yui-g content homepage">
    
      <!-- Show what has been added / removed to cart -->
      <% if flash[:notice] %>
      <div id="flash" style="display: block">
        <%= flash[:notice] %>
      <% flash[:notice] = nil %>
      </div>
      <script type="text/javascript">
        setTimeout(function(){
          document.getElementById('flash').style.display = 'none';
        }, 1500);
      </script>
      <% end %>
    
      <%= yield :layout %>

    </div>

    <%= render :partial => "skin/footer" %>

    </div> <!-- yui-d1f -->

    <!-- The jsHub Tag Inspector -->
    <%= render :partial => "shared/jshub_inspector" %>
    
  </body>
</html>