<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Example retail store</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <%= stylesheet_link_tag "yui3/reset-context.css" %>
    <%= stylesheet_link_tag "yui3/fonts-context.css" %>
    <%= stylesheet_link_tag "yui3/grids-context.css" %>
    <%= stylesheet_link_tag "yui3/base-context.css" %>

    <%= stylesheet_link_tag "store.css" %>
    <%= stylesheet_link_tag "catalog.css" %>
    <%= stylesheet_link_tag "hproduct.css" %>
    <%= stylesheet_link_tag "microformats.css" %>

	<!-- jQuery for DOM manipulation -->
    <%= javascript_include_tag "jquery/jquery-1.3.2.min.js" %>

    <script type="text/javascript">
      /* Pass variable data from Ruby to JS */
      var ENV = {};
          ENV.APP_ROOT = "<%= store_index_path %>";
    </script>
    <%= javascript_include_tag "store.js" %>

    <!-- Data capture tags -->
	<%= javascript_include_tag "jshub.js" %>
    <%= javascript_include_tag "ga.js" %>

  </head>
  <body class="jshub store yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase">
  
  <div class="yui-d1f page">

    <%= render :partial => "skin/header" %>
    <%= render :partial => "skin/nav1" %>

    <div class="yui-g tools">
      <div class="yui-u first">
        <%= render :partial => "search_form" %>
      </div>
      <div class="yui-u">
        <%= render :partial => "login_status" %>
      </div> 
    </div> 

    <%= render :partial => "skin/nav3" %>

    <div class="yui-t2">
  
      <%= render :partial => "skin/nav2" %>

      <div class="yui-main content">
        <div class="yui-b">
        
          <!-- Show what has been added / removed to cart -->
          <% if flash[:notice] %>
          <div id="flash" class="notice" style="display: block">
            <strong><%= flash[:notice] %></strong>
          <% flash[:notice] = nil %>
          </div>
          <script type="text/javascript">
            setTimeout(function(){
              document.getElementById('flash').style.display = 'none';
            }, 1500);
          </script>
          <% end %>
        
          <%= yield :layout %>
    		  <%# render_shopping_cart %>		            
        </div>
      </div>
    </div>

    <%= render :partial => "skin/footer" %>

    </div> <!-- yui-d1f -->
  </body>
</html>