    <div class="yui-gb nav1">
      <div class="yui-gb first group1">
        <div class="yui-u first nav-item">
          <%= link_to("TV &amp; Video", { :action => "buy" }, :class => "tv") %>
        </div>
        <div class="yui-u nav-item">
          <%= link_to("Audio", { :action => "buy" }, :class => "audio") %>
        </div>
        <div class="yui-u nav-item">
          <%= link_to("Car &amp; GPS", { :action => "buy" }, :class => "car") %>
        </div> 
      </div> 
      <div class="yui-gb group2">
        <div class="yui-u first nav-item">
          <%= link_to("Cameras &amp; Camcorders", { :action => "buy" }, :class => "cameras") %>
        </div> 
        <div class="yui-u nav-item">
          <%= link_to("Computers", { :action => "buy" }, :class => "computers") %>
        </div>      
        <div class="yui-u nav-item">
          <%= link_to("Cell phones &amp; Office", { :action => "buy" }, :class => "phones") %>
        </div>   
      </div> 
      <div class="yui-gb group3">
        <div class="yui-u first nav-item">
          <%= link_to("Music, Movies &amp; Books", { :action => "buy" }, :class => "music") %>
        </div>      
        <div class="yui-u nav-item">
          <%= link_to("Games &amp; Toys", { :action => "buy" }, :class => "games") %>
        </div>   
        <div class="yui-u nav-item">
          <%= link_to("Home &amp; Appliance", { :action => "buy" }, :class => "home") %>
        </div> 
      </div> 
    </div>