<a name="jshub"></a>
<div id="jshub">
  <div class="microformats">
    <p class="heading">Microformat markup</p>
    <p>hPage microformat data:</p>
    <div class="hpage">
      <ul>
        <li>
          Page name: <span class="name"><%= hpage[:name] %></span>
        </li>
        <% for cat in hpage[:categories] || [] %>
        <li>
          Category: <a class="category" href="<%= cat[:url] %>" rel="tag"><%= cat[:name] %></a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- <pre><%= @hpage.inspect %></pre> -->
  <div class="container">
    <p>
      The demo store is a reference implementation provided by the
	  <%= link_to 'jsHub project', 'http://jshub.org/project/wiki/Projects/DemoStore' %></p>
  </div>
</div>
