<li id="cart-product-<%= cart_item.product.id %>">
  <%= image_tag( image_for(cart_item.product) ) %>
  <div class="product-name">
  <%= cart_item.name %>
  <br/>
  <div class="price"><%= number_to_currency( cart_item.price, :unit => '&pound;' ) %></div>
  <br/>
  </div>
  <!-- Remove from cart -->
  <% form_tag :remove_from_cart_store do %>
  <div>
    <%= hidden_field_tag( 'product_id', cart_item.product.id, { :id => nil } ) %>
    <button class="product_remove">-</button>
  </div>
  <% end %>
  <!-- Current quantity -->
  <% form_tag :update_quantity_store do %>
  <div>
    <%= hidden_field_tag( 'product_id', cart_item.product.id, { :id => nil } ) %>
    <%= text_field_tag( 'quantity', cart_item.quantity, :size => '2' ) %>
  </div>
  <% end %>
  <!-- Add another item -->
  <% form_tag :add_to_cart_store do %>
  <div>
    <%= hidden_field_tag( 'product_id', cart_item.product.id, { :id => nil } ) %>
    <button class="product_add">+</button>
  </div>
  <% end %>
</li>
