<h3>hProductPurchase event</h3>
<div class="hpurchase">
  <span class="cart-id"><%= @cart.order_id %></span><br/>
  <span class="cart-price"><%= @cart.total_price %></span><br/>
  <% for item in @cart.items %>
  <span class="n"><%= item.name %></span><br/>
  <span class="price"><br/>
    &nbsp;&nbsp;<span class="money"><abbr class="currency" title="GBP">&pound;</abbr><span class="amount"><%= item.product.price %></span></span><br/>
	&nbsp;&nbsp;</span><br/>
  <span class="quantity"><%= item.quantity %></span><br/>
  <% end %>
</div>
