<div class="listing-header">
  <div class="summary">
    <strong>1 - <%= @products.length.to_s %></strong> of <strong><%= @products.length.to_s %></strong>
  </div>
</div>

<% for product in @products %>
  <% form_tag :add_to_cart_store do %>
  <%= hidden_field_tag "product_id", product.id, :id => nil %>
  <div id="product-<%= product.id %>" class="yui-gb hproduct">
    <div class="yui-u first image-col">
      <%= link_to( image_tag( image_for(product) , :class => "thumb"), {}, :class => "uri", :rel => "product" ) %>
    </div>
    <div class="yui-u info-main">
      <h3 class="name"><%= product.name %></h3>
      <h5>
        <strong>Model:</strong>
        <span class="model"><%= product.model %></span> | 
        <strong>SKU:</strong> 
        <span class="sku"><%= product.sku %></span>
      </h5>
      <p class="description">
        <% if product.energy_compliant %>
          <strong>ENERGY STAR Qualified</strong>
          <br/>
        <% end %>
        <%= product.description %>
      </p>
      <div class="rating">
        <strong><%= product.rating %> of 5</strong>
      </div>      
    </div>
    <div class="yui-u info-side">
    
      <h4 class="price sale">
        <%= number_to_currency( product.price, :unit => '&pound;' ) %>
      </h4>
      
      <ul class="p-v offers">
        <li class="value">Save 10% on Accessories: Find Out How</li>
        <li class="value">Delivery, Hook-Up and Recycling Included</li>
        <li class="value">Free Shipping</li>
      </ul>
    
    <br/>
    <%= hidden_field_tag :quantity, "1", :id => nil %>
    <button class="product_add">Add to basket</button>
    </div>
  </div>
  <hr />
  <% end %>
<% end %>

  <script type="text/javascript">
    // The [+] button triggers a basket add event
    $(".product_add").bind("click", add_product);

    // Pressing enter in the quantity form triggers an update event
    $("input[name='quantity']").change(update_quantity);
    
    // The [-] button triggers a basket remove event
    $(".product_remove").bind("click", remove_product);
  </script>
