<h1>Retail shop</h1>
<h2>What's in store?</h2>
<p>
  We have a complete present range:<%= image_tag "sample_store/puzzlexmastwisty2.jpg" %>
  <%= image_tag "sample_store/animalphotoframe2.jpg" %>
  <%= image_tag "sample_store/growxmastree2.jpg" %>
  <%= image_tag "sample_store/fingerpuppetxmas2.jpg" %>
</p>
<ul>
  <li>
    Twisty puzzle
  </li>
  <li>
    Animal photo frames
  </li>
  <li>
    Grow your own tree
  </li>
  <li>
    Finger puppets
  </li>
</ul>
<p>
  All available in the <%= link_to "online store", :action => "buy" %>.
</p>

<blockquote>
  <p>
    &ldquo;One of the best online shops I have ever used. Three thumbs up!&rdquo;
  </p>
  <p>
    <small>
      Mrs AB, London
    </small>
  </p>
</blockquote>

