  <%= f.error_messages %>
  
  <fieldset><h2>Third party libraries</h2>

  <% # Required to capture when no plugins are selected %>
  <!-- <%= hidden_field_tag "tag_configuration[plugin_config][]", "" %> -->

  <p>
    <%= check_box_tag label_for_plugin_param(:jquery, :include), true,
          @tag_configuration.has_plugin?(jquery_plugin) %>
    <%= label_tag label_for_plugin_param(:jquery, :include), 
          'jQuery library', :class => 'right plugin_name' %> <br />
	<small>
      <%= link_to 'jQuery', 'http://jquery.com/' %> is a required dependency for the
	  jsHub code. If you are not using jQuery on the pages that will be tagged with
	  jsHub, then you should include the library in your configuration. <br />
	  The minimum supported version of jQuery is 1.2, we currently include v1.3.2 in
	  the jsHub tag. jQuery adds 19Kb to the file when it is served gzipped.
	</small>
  </p>
  </fieldset>

  <fieldset><h2>Data capture plugins</h2>

  <% # Required to capture when no plugins are selected %>
  <!-- <%= hidden_field_tag "tag_configuration[plugin_config][]", "" %> -->

  <p>
    <%= check_box_tag label_for_plugin_param(:microformat, :include), true,
          @tag_configuration.has_plugin?(mf_plugin) %>
    <%= label_tag label_for_plugin_param(:microformat, :include), 
          'Page data HTML microformats', :class => 'right plugin_name' %> <br />
	<small>Collects basic information about the page, from HTML microformat markup on the page.</small>
  </p>
  <p>
    <%= check_box_tag label_for_plugin_param(:google_analytics_markup, :include), true,
          @tag_configuration.has_plugin?(ga_markup_plugin) %>
    <%= label_tag label_for_plugin_param(:google_analytics_markup, :include), 
          'Google Analytics markup', :class => 'right plugin_name' %> <br />
	<small>
	  EXPERIMENTAL. Collects basic basic page view information from existing Google Analytics 
	  tags on the page. This plugin does <em>not</em> replace the Google tag, and does not 
	  require any configuration.
	</small>
  </p>
  </fieldset>

  <hr />

  <fieldset><h2>Data transport plugins</h2>

  <p>
    <%= check_box_tag label_for_plugin_param(:sample_get, :include), true,
          @tag_configuration.has_plugin?(sample_get_plugin), 
          :class => 'configurable' %>
    <%= label_tag label_for_plugin_param(:sample_get, :include), 
		"Sample HTTP GET data transport plugin", :class => 'right plugin_name' %> <br />
	<small>Sends information to a server using a single pixel image request URL.</small>
  </p>
  <div id="configure_plugin_<%= sample_get_plugin.id %>">
    <p>
      <%= label_tag label_for_plugin_param(:sample_get, :server_url), 
            'Server URL' %>
      <%= text_field_tag label_for_plugin_param(:sample_get, :server_url), 
            value_for_plugin_param(:sample_get, :server_url) %>
      
    </p>
    <p>
      <%= label_tag label_for_plugin_param(:sample_get, :account_id), 'Account ID' %>
      <%= text_field_tag label_for_plugin_param(:sample_get, :account_id), 
            value_for_plugin_param(:sample_get, :account_id) %>
    </p>
  </div>
  
  <p>
    <%= check_box_tag label_for_plugin_param(:sample_post, :include), true,
          @tag_configuration.has_plugin?(sample_post_plugin), 
          :class => 'configurable' %>
    <%= label_tag label_for_plugin_param(:sample_post, :include), "Sample HTTP POST plugin",
          :class => 'right plugin_name' %> <br />  	
	<small>Sends information to a server by posting a form into a hidden iframe.</small>
  </p>
  
  <div id="configure_plugin_<%= sample_post_plugin.id %>">
    <p>
      <%= label_tag label_for_plugin_param(:sample_post, :server_url), 'Server URL' %>
      <%= text_field_tag label_for_plugin_param(:sample_post, :server_url), 
            value_for_plugin_param(:sample_post, :server_url) %>
      
    </p>
    <p>
      <%= label_tag label_for_plugin_param(:sample_post, :account_id), 'Account ID' %>
      <%= text_field_tag label_for_plugin_param(:sample_post, :account_id), 
            value_for_plugin_param(:sample_post, :account_id) %>
    </p>
  </div>
  
  <script type="text/javascript">
    function bindConfig() {
      var checkbox = this, id = checkbox.id.match(/[0-9]+/), config_div = $('#configure_plugin_'+id);
      $(checkbox).bind("change", function(evt) {
        if (evt.target.checked) {
          config_div.show('medium');
        } else {
          config_div.hide('medium');
        }
      });
      if (! checkbox.checked) {
	  	config_div.hide();
	  }
    }
    
    $('input:checkbox.configurable').each(bindConfig);
  </script>

  </fieldset>

  <hr />
  
  <fieldset><h2>Comments</h2>
  
  <p>
    <%= f.text_area :comments %>
  </p>
  <p class="hide">
    <%= f.label :jshub_version, 'jsHub code version:' %>
    <%= f.select :jshub_version, tag_versions, :size => 1 %>
  </p>
  
  </fieldset>

  <hr />  